<nav class="navbar fixed-top navbar-expand-lg navbar-light lysda-navbar d-flex justify-content-between">
  <a class="navbar-brand" href="#">LYDSA</a>


  <div style="display: inline-block;">
    <div style="display: inline-block; margin: 0px 40px 0px 40px;">
      <span class="text-center">Login</span>
    </div>

    <div style="display: inline-block; margin: 0px 40px 0px 40px;">
        <span class="text-center">Sign up</span>
      </div>
  </div>
</nav>

<div style="height: 56px;"></div>

<router-outlet></router-outlet>
