p.width-max {
    width: 100%;
}

p {
    margin-bottom: 0px;
}

pre {
    margin-bottom: 0px;
}

input.width-max {
    width: 100%;
}

input.comment-height {
    height: 1.2em;
}

div.highlight-breakpoint {
    background-color: #F7F4E4;
}

.top-right {
    top: 0px;
    right: 0px;
}