<div class="container-fluid">
  <div class="top-panel row">
    <div class="col-md-6 border-right p-2">

      <div class="btn-group position-absolute absolute-top-right mt-2 mr-2">
        <div class="dropdown mr-1">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Choose Language
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" *ngFor="let language of codeLanguages; let i=index;" (click)="changeLanguage(i)">
             {{ language }}
            </button>
          </div>
        </div>
        <input class="mr-1" type="text" [(ngModel)]="stepTime">
        <button class="btn btn-primary" [disabled]="runningState" (click)="toggleRunningState()">Run</button>
        <button class="btn btn-danger" [disabled]="!runningState" (click)="toggleRunningState()">Stop</button>
      </div>
      <tabset>
        <tab heading="Editor" id="editor">
          <app-visualization-editor [input]="editorInput" [disableBreakpoints]="disableBreakpoints" [highlightedLine]="highlightedLine">
          </app-visualization-editor>
        </tab>
        <tab heading="Input">
          <textarea class="max border" [(ngModel)]="inputData"></textarea>
        </tab>
      </tabset>
    </div>

    <div class="col-md-6 p-2">
      <app-stack-visualizer #visualizerComponent *ngIf="visualizerType == 'app-stack-visualizer'"></app-stack-visualizer>
    </div>
  </div>
</div>

<app-breakpoint-step-panel>
</app-breakpoint-step-panel>