button.absolute-top-right {
    top: 0px;
    right: 0px;
}

.card-width-10 {
    width: 10rem;
}

.overflow-auto {
    overflow: auto;
}

.height-width-max {
    height: 100%;
    width: 100%;
}

.no-margin {
    margin: 0 0 0 0;
}

.custom-card {
    background-color: #ffc100;
}
  
div.red-card {
    background-color: red;
}